.gridOne{ display: grid; grid-template-columns: 1fr 1fr; width:500px; } .text-blue { color:blue; } 

.gridTwo {display: grid; grid-template-columns: 1fr 1fr 2fr;
   margin-bottom: 30px; font-family: 'Tinos', sans-serif; background-color: light grey; width: 500px; } 
  .texta{ background-color:red; } 
  .textb{ background-color:blue; } 
  .textc{ background-color:yellow; } 

.gridThree{ display: grid; grid-template-rows: 1fr 3fr; background-color: rgb(243, 243, 243); width: 500px; height: 300px;    padding: 10px 10px 10px 10px; }

.gridFour{ display:grid; grid-template-rows: 1fr 1fr; width: 500px; height:100px; background-color:green; margin-top: 20px; margin-bottom: 20px;} 
  .green-box{ max-width: fit-content; max-height: fit-content; } .text2{ display: grid; grid-template-columns: 3fr 1fr; grid-column: 1/-1; } 

.gridFive {display: grid; grid-template-rows: 1fr 2fr; background-color: rgb(226, 226, 226); width: 500px; height: 300px; padding: 0px 10px 50px 20px; }

.gridFive-A{  margin-bottom: 100px; } 

.gridFive-B{ display: grid; grid-template-columns: 2fr 1fr; object-fit: cover;
  align-items: center;  } 

.gridSix{ display: grid; grid-template-columns: 1r 3fr;} 

.grey-box{
  background-color: #bdbdbd;
  width: 500px;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
} 
.gridSix i {display: grid; font-family: Font Awesome 6 Free; font-size: 1em; } 

.gridSix-font {font-family: 'solitreo'; font-size: 1em; display: grid; text-align: center; }


